body {
	padding-top:70px;
	padding-left: 5%;
	padding-right: 5%;

}

.navbar-default {
	background-color: #34495e;
}

.navbar-default .navbar-brand {
	color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #ecf0f1;
}