html, body {
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
  overflow-x: hidden; }

#nav .navbar {
  border: none; }
  #nav .navbar li:active {
    border-radius: 5px; }
#nav .navbar-default .navbar-nav > .active > a {
  border-style: solid;
  border-width: 0px;
  border-radius: 10px; }

.greenNav .navbar-default {
  background-color: #EE7469; }
  .greenNav .navbar-default .navbar-toggle .icon-bar, .greenNav .navbar-default .icon-bar {
    background-color: #FFF0D6; }
  .greenNav .navbar-default .navbar-toggle, .greenNav .navbar-default .navbar-collapse, .greenNav .navbar-default .navbar-form {
    border-style: none; }
  .greenNav .navbar-default .navbar-header, .greenNav .navbar-default .navbar-toggle:focus, .greenNav .navbar-default .navbar-toggle:hover, .greenNav .navbar-default .navbar-collapse.collapse.in, .greenNav .navbar-default .navbar-collapse.collapsing {
    background-color: #EE7469; }
  .greenNav .navbar-default .navbar-nav > li > a {
    color: #FFF0D6;
    text-align: right; }
  .greenNav .navbar-default .navbar-brand {
    color: #FFF0D6; }
  .greenNav .navbar-default .navbar-nav > .active > a {
    color: #EE7469;
    background-color: #FFF0D6; }

.blueNav .navbar-default {
  background-color: #B8959B; }
  .blueNav .navbar-default .navbar-toggle .icon-bar, .blueNav .navbar-default .icon-bar {
    background-color: #FFF0D6; }
  .blueNav .navbar-default .navbar-toggle, .blueNav .navbar-default .navbar-collapse, .blueNav .navbar-default .navbar-form {
    border-style: none; }
  .blueNav .navbar-default .navbar-header, .blueNav .navbar-default .navbar-toggle:focus, .blueNav .navbar-default .navbar-toggle:hover, .blueNav .navbar-default .navbar-collapse.collapse.in, .blueNav .navbar-default .navbar-collapse.collapsing {
    background-color: #B8959B; }
  .blueNav .navbar-default .navbar-nav > li > a {
    color: #FFF0D6;
    text-align: right; }
  .blueNav .navbar-default .navbar-brand {
    color: #FFF0D6; }
  .blueNav .navbar-default .navbar-nav > .active > a {
    color: #B8959B;
    background-color: #FFF0D6; }

.whiteNav .navbar-default {
  background-color: #FFF0D6; }
  .whiteNav .navbar-default .navbar-toggle .icon-bar, .whiteNav .navbar-default .icon-bar {
    background-color: #383732; }
  .whiteNav .navbar-default .navbar-toggle, .whiteNav .navbar-default .navbar-collapse, .whiteNav .navbar-default .navbar-form {
    border-style: none; }
  .whiteNav .navbar-default .navbar-header, .whiteNav .navbar-default .navbar-toggle:focus, .whiteNav .navbar-default .navbar-toggle:hover, .whiteNav .navbar-default .navbar-collapse.collapse.in, .whiteNav .navbar-default .navbar-collapse.collapsing {
    background-color: #FFF0D6; }
  .whiteNav .navbar-default .navbar-nav > li > a {
    color: #383732;
    text-align: right; }
  .whiteNav .navbar-default .navbar-brand {
    color: #383732; }
  .whiteNav .navbar-default .navbar-nav > .active > a {
    color: #FFF0D6;
    background-color: #383732; }

footer {
  color: #B8959B;
  background-color: #FFF0D6;
  padding-top: 50px;
  padding-bottom: 10px; }

#home {
  background-color: #EE7469;
  color: #FFF0D6; }
  #home .jumbotron {
    background-color: #EE7469;
    color: #FFF0D6; }
    #home .jumbotron h1 {
      font-family: 'Press Start 2P', cursive;
      padding-top: 65px; }
    #home .jumbotron h2 {
      padding-bottom: 50px; }

#aboutMe {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #FFF0D6; }
  #aboutMe img {
    width: 10em;
    height: auto;
    padding-top: 10px;
    margin-left: auto;
    float: right;
    padding-left: 10px;
    padding-bottom: 10px; }
  #aboutMe h1 {
    font-family: 'Press Start 2P', cursive;
    padding-bottom: 10px; }
  #aboutMe p {
    padding-bottom: 10px; }
  #aboutMe h4 {
    padding-top: 10px; }

.progress #progressHTML {
  background-color: #FC6042; }

.progress #progressCSS {
  background-color: #2CC990; }

.progress #progressjQuery {
  background-color: #FCB941; }

.progress #progressBootstrap {
  background-color: #2C82C9; }

#portfolio {
  background-color: #B8959B;
  padding-top: 30px;
  padding-bottom: 50px; }
  #portfolio img {
    border-style: solid;
    border-radius: 5px;
    border-color: #FFF0D6;
    border-width: 1px;
    margin: 0 auto;
    width: 95%;
    height: auto; }
  @media screen and (max-width: 650px) {
    #portfolio img {
      width: 70%;
      height: auto; } }
  #portfolio h1 {
    color: #FFF0D6;
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5em;
    padding-bottom: 10px; }
  #portfolio h2 {
    color: #FFF0D6;
    font-family: 'Press Start 2P', cursive;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 1.1em; }
  #portfolio p {
    padding-left: 10px;
    padding-right: 10px; }
  #portfolio a {
    color: #ffffff;
    text-decoration: underline; }

#colSection {
  color: #FFF0D6; }
  #colSection p {
    margin-top: 20px; }
  #colSection h1 {
    font-size: 1.5em; }
