// About Me

#aboutMe {
	@include clearfix;
	background-color: $Color1;
	color: $Color5;
	img {
		width: 10em;
		height: auto;
		padding-top: 10px;
		margin-left: auto;
		float: right;
		padding-left: 10px;
		padding-bottom: 10px;
	}
	h1 {
		font-family: 'Press Start 2P', cursive;
		padding-bottom: 10px;
	}
	p {
		padding-bottom: 10px;
	}
	h4 {
		padding-top: 10px;
	}
}

.progress #progressHTML {
	background-color: $Color2;
}
.progress #progressCSS {
	background-color: $Color3;
}
.progress #progressjQuery {
	background-color: $Color4;
}
.progress #progressBootstrap {
	background-color: $Color5;
}