//Global

body {
	font-family: 'Open Sans', sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
}

//NavBar

#nav {
	.navbar {
		border: none;
		li:active {;
			border-radius: 5px;
		}
	}
	.navbar-default .navbar-nav > .active > a {
		border-style: solid;
		border-width: 0px;
		border-radius: 10px;
	}
}

//Nav Color Change id's

.greenNav {
	@include navbarColors($green,$white)
}

.blueNav {
	@include navbarColors($blue,$white)
}

.whiteNav {
	@include navbarColors($white,$black)
}

//Footer

footer {
	color: $grey;
	background-color: $white;
	padding-top: 50px;
	padding-bottom: 10px;
}