//Global
html, body {
	font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

//NavBar

#nav {
	.navbar {
		border: none;
		li:active {;
			border-radius: 5px;
		}
	}
	.navbar-default .navbar-nav > .active > a {
		border-style: solid;
		border-width: 0px;
		border-radius: 10px;
	}
}

//Nav Color Change id's

.homeNav {
	@include navbarColors($Color2,$Color1)
}

.portfolioNav {
	@include navbarColors($Color3,$Color1)
}

.aboutMeNav {
	@include navbarColors($Color1,$Color5)
}

//Footer

footer {
	color: $Color3;
	background-color: $Color1;
	padding-top: 50px;
	padding-bottom: 10px;
}