//Home

#home {
	background-color: $Color2;
	color: $Color1;
	.jumbotron {
		background-color: $Color2;
		color: $Color1;
		h1 {
			font-family: 'Press Start 2P', cursive;
			padding-top: 65px;
		}
		h2 {
			padding-bottom: 50px;
		}
	}
}