//Body

#colSection {
	background-color: $content-bg-color;
	color: black;
	p {
		margin-top: 20px
	}
	h1 {
		margin-top: 0px;
		font-size: 1.5em;
	}
}

#portfolio {
	img {
		border-style: solid;
		border-radius: 5px;
		border-color: black;
		border-width: 1px;
		width: 350px;
		height: 350px;
		margin-top: 30px;
	}
}