//Portfolio
#portfolio {
	background-color: $blue;
	padding-top: 30px;
	padding-bottom: 50px;
	img {
		border-style: solid;
		border-radius: 5px;
		border-color: $white;
		border-width: 1px;
		width: 70%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
	h1 {
		color: $white;
		font-family: 'Press Start 2P', cursive;
		font-size: 2.5em;
		padding-bottom: 20px;
	}
}
#colSection {
	color: $white;
	p {
		margin-top: 20px
	}
	h1 {
		font-size: 1.5em;
	}
}

.progress #red {
	background-color: $red;
}
.progress #orange {
	background-color: $orange;
}
.progress #blue {
	background-color: $blue;
}
.progress #green {
	background-color: $green;
}