//Portfolio
#portfolio {
	background-color: $Color3;
	padding-top: 30px;
	padding-bottom: 50px;
	img {
		border-style: solid;
		border-radius: 5px;
		border-color: $Color1;
		border-width: 1px;
		margin: 0 auto;
		width: 95%;
		height: auto;
	}
	@media screen and (max-width: 650px) {
		img {
			width: 70%;
			height: auto;
		}
	}
	h1 {
		color: $Color1;
		font-family: 'Press Start 2P', cursive;
		font-size: 2.5em;
		padding-bottom: 10px;	
	}
	h2 {
		color: $Color1;
		font-family: 'Press Start 2P', cursive;
		padding-bottom: 20px;
		padding-top: 10px;
		font-size: 1.1em;

	}
	p {
		padding-left: 10px;
		padding-right: 10px;
	}
	a {
		color: $Color1;
		text-decoration: underline;
	}
}
#colSection {
	color: $Color1;
	p {
		margin-top: 20px
	}
	h1 {
		font-size: 1.5em;
	}
}