//Color Palettes
$Color1: #FFF0D6;
$Color2: #EE7469;
$Color3: #B8959B;
$Color4: #836D6F;
$Color5: #383732;

//Progress Bars
$progressHTML: #FC6042;
$progressjQuery: #FCB941;
$progressBootstrap: #2C82C9;
$progressCSS: #2CC990;