@import 'variables';

body {
	padding-top:70px;
}

#profilePic {
	width: 25%;
	height: 25%;
}

h1 {
	padding-top: 0px;
}

.navbar-default {
	background-color: $header-footer-bg-colors;
}

.navbar-default .navbar-brand {
	color: $header-footer-font-colors;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: $header-footer-font-colors;
}

#footer {
	@extend .navbar-default;
	color: $header-footer-font-colors;
}